@font-face {
    font-family: 'MyFont';
    src: url('./assets//fonts/DancingScript-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
  font-family: 'Roboto';
  src: url('./assets//fonts/Roboto-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

:root {
  --black: #000000;
  --dark-blue: #2ec4b6;
  --toast: #cbf3f0; 
  --grey: #e5e5e5;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  display: grid;
  grid-template-rows: 17vh auto auto;
  background-color: var(--toast);

  header {
    grid-row: 1;
    background-color: var(--dark-blue);
    border-bottom: 8px solid var(--toast);
    padding: 20px 0px 20px 0px;

    nav {
      height: 100%;
      display: flex;
      justify-content: center;
      gap: 100px;

      img {
        height: 12vh;
        width: auto;
      }

      button {
        border: none;
        outline: none;
        background-color: var(--dark-blue);
        color: var(--white);
        cursor: pointer;
        font-size: 1.2rem;
        transition: 500ms ease-out;
      }

      button:hover {
        color: var(--grey);
        padding-bottom: 20px;
        text-decoration: underline;
        text-underline-offset: 15px;
      }

    }
  }

  #content {
    background-color: var(--white);
    grid-row: 2;

  }
  
  footer {
    grid-row: -2 ;
    background-color: #1c1c1c;
    display: grid;
    grid-template-rows: 90% 10%;
    align-items: center;
    color: white;


    .footer-info {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;

      > div {
        margin: 5% 15%;
      }

      p {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: 'MyFont';
        color: white;
      }

      .f-contact div, .f-social div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
          margin-bottom: 10px;
        }
        a {
          color: white;
          text-decoration: none;
        }
      }

      .f-form form {
        height: 100%;

        label {
          margin-top: 20px;
          margin-bottom: 30px;
          display: block;
          font-size: 2.5rem;
          font-weight: 700;
          font-family: 'MyFont';
          color: white;
        }

        input {
          display: block;
          margin-bottom: 15px;
          width: 70%;
          padding: 10px;
          border-radius: 2px;
          font-family: 'Courier New', Courier, monospace;
        }

        button {
          cursor: pointer;
          border: none;
          background-color: #2ec4b6;
          font-weight: 700;
          font-size: 1rem;
          color: white;
          padding: 8px;
          border-radius: 10px;
        }
      }


    }

    .github {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--white);
      background-color: #2c2c2c;
      img {
        height: 20px;
        width: auto;
      }
    }

  }

}
